@model Test.ViewModels.PostViewModel


<!-- Simple post content example. -->
<div class="panel panel-default">
    <div class="panel-body">
        <div class="pull-left">
            <a href="#">
                <img class="media-object img-circle" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
            </a>
        </div>
        <h4><a href="#" style="text-decoration:none;"><strong>John Doe</strong></a> – <small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> @*42 minutes ago*@ @(Model.CreationDate - DateTime.Now > TimeSpan.FromDays(1) ? Model.CreationDate.ToString("HH:mm") : Model.CreationDate.ToString("dd/MM/yyyy")) @((DateTime.Now - Model.CreationDate).Days >= 1 ? Model.CreationDate.ToString("dd/MM/yyyy") : Model.CreationDate.ToString("HH:mm"))</i></a></small></small></h4>
        <span>
            <div class="navbar-right">
                <div class="dropdown">
                    <button class="btn btn-link btn-xs dropdown-toggle" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dd1" style="float: right;">
                        <li><a href="#"><i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i> Report</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-ban" aria-hidden="true"></i> Ignore</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-bell" aria-hidden="true"></i> Enable notifications for this post</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-eye-slash" aria-hidden="true"></i> Hide</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
                    </ul>
                </div>
            </div>
        </span>
        <hr>
        <div class="post-content">
            <p>@Model.Content</p>
            @*<p>Simple post content example.</p>*@
            @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel gravida metus, non ultrices sapien. Morbi odio metus, dapibus non nibh id amet.</p>*@
        </div>
        <hr>
        <div>
            <div class="pull-right btn-group-xs">
                <a class="btn btn-default btn-xs" onclick="React(@(Model.IsLike? "true" : "false"), @Model.Id)" @(Model.IsLike ? "style=color:red" : "")>
                <i class="fa fa-heart" aria-hidden="true"></i> @(Model.IsLike ? "Liked " + ((Model.Likes.Count > 0 ? "("+ Model.Likes.Count.ToString() + ")" : ""))  : "Like " + ((Model.Likes.Count > 0 ? "(" + Model.Likes.Count.ToString() + ")" : "")) )
                </a>
                <a class="btn btn-default btn-xs"><i class="fa fa-retweet" aria-hidden="true"></i> Reshare</a>
                <a class="btn btn-default btn-xs"><i class="fa fa-comment" aria-hidden="true"></i> Comment</a>
            </div>
            <div class="pull-left">
                <p class="text-muted" style="margin-left:5px;"><i class="fa fa-globe" aria-hidden="true"></i> Public</p>
            </div>
            <br>
        </div>
    </div>
</div>