@model List<Test.ViewModels.PostViewModel>

<style>
    .notifyjs-corner {
        top: 70px !important;
    }
</style>

<div class="container" style="max-width:55%">
    @if (Model.Count > 0)
    {
        foreach (var post in Model)
        {
            <!-- Simple post content example. -->
            <div class="panel panel-default" id="@string.Concat("post", post.Id)">
                <div class="panel-body">
                    <div>
                        <div class="pull-left">
                            <a href="#">
                                <img onclick="window.location='@Url.Action("Profile","User", new { id = post.User.Id })'" class="media-object img-circle" src="@post.User.ImageUrl" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
                            </a>
                        </div>
                        <h4><a href="@Url.Action("Profile","User", new { id = post.User.Id })" style="text-decoration:none;"><strong>@post.User.FirstName @post.User.LasName</strong></a> – <small><small><a style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> @(DateTime.Now.Date > post.CreationDate.Date ? post.CreationDate.ToString("dd/MM/yyyy") : "Aujourd'hui à "+post.CreationDate.ToString("HH:mm"))</i></a></small></small></h4>
                    </div>
                    <span>
                        <div class="navbar-right">
                            <div class="dropdown">
                                <button class="btn btn-link btn-xs dropdown-toggle" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dd1" style="float: right;">
                                    <li><a href="#"><i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i> Report</a></li>
                                    <li><a onclick="HidePost(@post.Id)"><i class="fa fa-fw fa-eye-slash" aria-hidden="true"></i> Hide</a></li>
                                </ul>
                            </div>
                        </div>
                    </span>
                    <hr>
                    <div class="post-content">
                        <p>@post.Content</p>
                    </div>
                    <hr>
                    <div>
                        <div class="pull-right btn-group-xs" id="@string.Concat("postLikes", post.Id)">
                            @Html.Partial("_PostLikes", post)
                        </div>
                        <div class="pull-left">
                            <p class="text-muted" style="margin-left:5px;"><i class="fa fa-globe" aria-hidden="true"></i> Public</p>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h4 style="opacity:.5; text-align: center;">Pas de publications pour le moment !</h4>
    }

</div>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify.js/3.0.0/notify.js" integrity="sha512-6kVzvonvbchZbuSJblyvD0FXdHfEQv011oSg/29GiGNbfVOJM2UrtJBFKNUlP34gQn+jjgwJhfWTVtYBbtZU7A==" crossorigin="anonymous"></script>
<script type="text/javascript">

    function React(isLiked, postId) {

        console.log("is liked => " + isLiked);

        if (isLiked == true) {
            $.ajax({
                url: "/Home/DislikePost/",
                data: { id: postId },
                type: "Post"
            }).done(function (partialViewResult) {
                $(String.prototype.concat("#postLikes", postId)).html(partialViewResult);
            }).error(function () {
                alert("Something Went Wrong.");
            });
        } else if (isLiked == false) {

            $.ajax({
                url: "/Home/LikePost/",
                data: { id: postId },
                type: "Post"
            }).done(function (partialViewResult) {
                $(String.prototype.concat("#postLikes", postId)).html(partialViewResult);
            }).error(function () {
                alert("Something Went Wrong.");
            });
        }


    }

    function HidePost(id) {
        $("#post" + id).fadeOut(300, function () { $(this).remove(); });
        $.notify(
            "Post caché !",
            {
                position: "top-left",
                className: "success",
                showAnimation: "fadeIn",
                autoHideDelay: 2000
            }
        );
    }

</script>